<footer class="w-100 pt-5 mb-0 flex-shrink-0">
    <div class="pt-5 px-5">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-2 mb-5">
                <div class="footer_logo">
                    <img src="assets/images/logo.svg" width="120" alt="Logo">
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 mb-5">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <h6 class="text-gray mb-3 fw-800">Şirket</h6>
                        <ul class="list-unstyled text-muted">
                            <li><a href="#">Haqqımızda</a></li>
                            <li><a href="#">Sığorta hadisəsi</a></li>
                            <li><a href="#">Karyera</a></li>
                            <li><a href="#">Məxfilik siyasəti</a></li>
                            <li><a href="#">KSM siyasəti</a></li>
                            <li><a href="#">Bizimlə partnyorluq</a></li>
                            <li><a href="#">Müştəri məmnuniyyəti siyasəti</a></li>
                            <li><a href="#">Xəbərlər</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <h6 class="text-gray mb-3 fw-800">Bizimlə əlaqə</h6>
                        <ul class="list-unstyled text-muted">
                            <li><a href="#">Ofislər</a></li>
                            <li><a href="#">Müştəri müraciəti</a></li>
                            <li><a href="#">Tez-tez verilən suallar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
                <h6 class="text-gray mb-3">Yeniliklərdən xəbərdar olmaq üçün</h6>
                <div class="col-lg-12">
                    <form action="#">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="E-mailinizi daxil edin" aria-describedby="button-addon2">
                            <button class="btn btn-primary" id="button-sub" type="button">Abunə ol</button>
                        </div>
                    </form>
                </div>
                <h6 class="text-gray mt-5">PASHA Insurance tətbiqini yükləmək üçün</h6>
                <div class="col-lg-11 mt-3 py-2">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="#" class="d-block download-button p-2">
                            <span class="d-flex align-items-center">
                                <span class="icon icon-brand mr-5 mr-md-3">
                                    <span class="fab fa-google-play fa-2xl"></span>
                                </span> 
                                <span class="d-inline-block text-left text-download">
                                    <small class="font-weight-normal d-none d-md-block">Download on</small>Google Play 
                                </span>
                            </span>
                            </a>  
                        </div>
                        <div class="col-lg-6">
                            <a href="#" class="d-block download-button p-2">
                            <span class="d-flex align-items-center">
                                <span class="icon icon-brand mr-5">
                                    <span class="fab fa-apple fa-2xl"></span>
                                </span> 
                                <span class="d-inline-block text-left text-download">
                                    <small class="font-weight-normal d-none d-md-block">Download on</small> App Store 
                                </span>
                            </span>
                            </a>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-5"/>
        <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between text-white pb-4">
            <div class="col-sm-12 col-md-6 col-lg-6"> &copy; "PAŞA Sığorta" ASC 2023 - Bütün hüquqlar qorunur. </div>
            <div class="col-sm-12 col-md-6 col-lg-6 social-media">
                <ul class="d-flex justify-content-end">
                    <li><a href=""><i class="fa-brands fa-instagram fa-xl"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-facebook fa-xl"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-linkedin fa-xl"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-twitter fa-xl"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-youtube fa-xl"></i></a></li>
                </ul>
            </div> 
        </div>
    </div>
</footer>