<section id="contact" class="bg-light">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-md-5 col-lg-5 ml-auto mb-0" >
				<div class="mb-5">
                    <h1>Sualınız var?</h1>
                    <p class="font-italic text-muted mb-3 mt-3">Məhsul barədə yaranan suallarınızı cavablamaq 
						üçün sizinlə elə indi əlaqə saxlayarıq</p>
                </div>
				<form action="#">
					<div class="row">
						<div class="col-md-6 col-lg-6 mb-3">
							<input type="text" placeholder="Ad *" class="form-control">
						</div>
						<div class="col-md-6 col-lg-6 mb-3">
							<input type="text" placeholder="Soyad *" class="form-control">
						</div>
						<div class="col-md-12 col-lg-12 mb-3"> 
							<input type="text" placeholder="Ata Adı" class="form-control">
						</div>  
						<div class="col-md-12 col-lg-12 mb-3"> 
							<input type="text" placeholder="Mobil Numara *" class="form-control">
						</div>
						<div class="col-md-12 col-lg-12 mb-3"> 
							<input type="email" placeholder="E-mail" class="form-control">
						</div>
					</div>
					<p class="text-muted mb-3 mt-2">Ulduz * işarəli xanaların doldurulması vacibdir.</p>
					<div class="col-lg-12 mx-auto mb-0">
						<button class="col-lg-12 btn btn-custom-success btn-block py-2">
							<span class="font-weight-bold">Göndər</span>
						</button>
					</div>
				</form>
			</div>
			<div class="col-md-7 col-lg-7">
				<div class="d-flex justify-content-center align-items-center mt-5">
					<img src="https://t4.ftcdn.net/jpg/04/73/25/49/360_F_473254957_bxG9yf4ly7OBO5I0O5KABlN930GwaMQz.jpg" class="h-100 img-fluid">
				</div>
			</div>
		</div>
    </div>
</section>